@keyframes pseudoRoll {
  0% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(-135deg); } }
@keyframes shortTickAnimation {
  0% {
    transform: translateX(-20px) translateY(-20px) rotate(45deg);
    width: 20px;
    opacity: 0; }
  1% {
    opacity: 1; }
  50% {
    transform: translateX(-24px) translateY(-11px) rotate(45deg);
    width: 45px; }
  100% {
    transform: translateX(0px) translateY(0px) rotate(45deg);
    width: 20px;
    opacity: 1; } }
@keyframes longTickAnimation {
  0% {
    transform: translateX(-40px) translateY(40px) rotate(135deg);
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    transform: translateX(0px) translateY(0px) rotate(135deg);
    opacity: 1; } }
#shop-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center; }
  #shop-modal-overlay .shop-modal {
    padding: 30px;
    width: 50%;
    min-height: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #c3c3c3; }
    #shop-modal-overlay .shop-modal .tick-container {
      position: relative;
      height: 88px;
      width: 88px; }
      #shop-modal-overlay .shop-modal .tick-container::before, #shop-modal-overlay .shop-modal .tick-container::after {
        content: "";
        position: absolute;
        background-color: #fff;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        width: 110px;
        height: 60px; }
      #shop-modal-overlay .shop-modal .tick-container::before {
        top: 48px;
        left: -39px;
        transform: rotate(45deg);
        z-index: 3; }
      #shop-modal-overlay .shop-modal .tick-container::after {
        transform-origin: center top;
        transform: rotate(45deg);
        top: 54px;
        left: -17px;
        z-index: 1;
        animation: pseudoRoll 0.35s ease forwards; }
      #shop-modal-overlay .shop-modal .tick-container .tick-outline,
      #shop-modal-overlay .shop-modal .tick-container .tick-outline--transparent {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 88px;
        height: 88px;
        border-radius: 50%; }
      #shop-modal-overlay .shop-modal .tick-container .tick-outline {
        border: 4px solid #4f864f;
        z-index: 0; }
      #shop-modal-overlay .shop-modal .tick-container .tick-outline--transparent {
        border: 4px solid rgba(79, 134, 79, 0.3);
        z-index: 3; }
      #shop-modal-overlay .shop-modal .tick-container .tick-line-short,
      #shop-modal-overlay .shop-modal .tick-container .tick-line-long {
        position: absolute;
        background-color: #4f864f;
        z-index: 2; }
      #shop-modal-overlay .shop-modal .tick-container .tick-line-short {
        top: 48px;
        left: 22px;
        transform: translateX(-24px) translateY(-11px) rotate(45deg);
        opacity: 0;
        width: 20px;
        border: 2px solid #4f864f;
        animation: shortTickAnimation 0.35s ease forwards 0.15s; }
      #shop-modal-overlay .shop-modal .tick-container .tick-line-long {
        left: 32px;
        top: 40px;
        transform: rotate(135deg);
        opacity: 0;
        width: 40px;
        border: 2px solid #4f864f;
        animation: longTickAnimation 0.25s ease forwards 0.5s; }
      #shop-modal-overlay .shop-modal .tick-container .hide-corners {
        width: 88px;
        height: 10px;
        background-color: #fff;
        position: absolute;
        top: 50px;
        left: -11px;
        transform: rotate(45deg);
        z-index: 1; }
  #shop-modal-overlay .modal-button-wrap {
    width: 20%;
    align-self: flex-end; }

/*# sourceMappingURL=style.css.map */
